*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100%;
    width:100%;
}

.container{
    max-width: 65vw;
    padding:2rem 1rem;
    margin:auto;
    background-color: rgb(239, 246, 244);
}

.header_container{
    margin-bottom: 2.5rem;
}

.headertitle{
    margin-bottom: .5rem;
    font-size:1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    max-width: 740px;
    text-align:center;
    margin: 0 auto;
}
.maincontainer{
    display:grid;
    gap:2rem;
    grid-template-columns: repeat(1,1fr);
}

@media(min-width:650px){
    .maincontainer{
        grid-template-columns: repeat(2,1fr);

    }
}

@media(min-width:1080px){
    .maincontainer{
        grid-template-columns: repeat(3,1fr);

    }
}

@media(min-width:1340px){
    .maincontainer{
        grid-template-columns: repeat(4,1fr);

    }
}

.card_container{
   display:flex; 
   flex-direction: column;
   border: 2px solid black;
   border-radius: 8px;
   overflow: hidden;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height:11rem;
}

@media(min-width:768px){
    .card_image_container{
        position: relative;
        overflow: hidden;
        height:14rem;
    }
    
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height:100%;
    width:100%;
    border-radius:8px 8px 0 0;
}
.card_title_container{
    display:flex;
    flex-direction: column;
    padding:1.5rem;
}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 2s;
}

.card_title{
    font-size: 1 rem;
    font-weight: 600;
    line-height:1.5rem;
    color:rgb(17, 16, 16);
}

.card-title-anchor:hover .card-title{
    color:rgb(243, 205, 139);
}
.card_detail{
    font-size: 1rem;
    color: rgb(30, 29, 29);
}

.cardfootercontainer{
    display: flex;
    justify-content: space-between;
    row-gap:.2rem;
    padding: .2rem;
    align-items: flex-end;
    padding-bottom: 1rem;
}
.authorcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author_avatar_container{
    height:2.5rem;
    width:2.5rem;
    overflow: hidden;
    border: 2px solid black;
    border-radius:50%;
    background-color: rgb(222, 221, 221);
    /* margin-left:.2rem; */
}
.authorinfo{
    display: flex;
}
.authorchild1{
    color:rgb(45, 140, 178);
}
.authorinfo:nth-child(){
     color:brown
}

.cardtagcontainer{
    border:2px solid black;
    font-size:.9rem ;
    padding: 0.5rem;

}